%h1= @question.title
%p= @question.body

%h2 Answers
%ul
  - @question.answers.where(approved: true).each do |answer|
    %li
      %p= answer.body

%h2 Add a new answer
= render 'answers/form', question: @question, answer: @question.answers.build
