$nav_bar_colour_one: rgba(0, 0, 0, 0.696);

html {
  min-height: 100%
}
/*Nav Bar*/
body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  padding-left: 0;
  
  /*Navigation menu*/
  .navbar{
    height: 50px;
  }

  #navlist{
    display: flex;
    align-items: end;
  }
 .container-fluid {
  position: absolute;
  margin: 0 0 0 0;
  padding-top: 0;
 }

  header ul {
    display:flex;
  }

  header ul li{
    margin: 0;
    list-style: none;
    position: relative;
    white-space: nowrap;
    padding: 23px 0 10px 22px;
    font-size: 15px;
  }

  

  /*header ul li a:hover{

  }*/


  .btn {
     margin-left: 25px;
     color: white;
     border-radius: 4px;
     padding: 6px 25px 8px 20px;
     white-space: nowrap;
     transition: 0.3s;
     font-size:10px;
     display: inline-block;
     text-transform: uppercase;
     border: 1px solid #5125ad;
     font-weight: 400;
     font-family: "Poppins", sans-serif;
     background-color:  #5125ad;
     height: 30px;
     text-decoration: none;
  }


  footer {
    margin-top: auto;
  }

  /*Widening Participation*/
h2{
  display: flex;
  justify-content: center;
  border: 2px ;
}

hr{
 margin: auto;
 width: 98%;
 border-style: solid;
 border-color: black;
 height: 10px;
}

.short{
  width: 65%;
  margin-left: 0%;
}

.space{
 margin: auto;
 padding: 25 50;
}

.body{
 text-align: center;
}

.wpImage{
  align-self: right;
  padding: 0 10px 10px 500px;
}

.middle{
  list-style: none;
  display: flex;
  justify-content: center;
  text-decoration: underline;
  color: blue;
}

.wpList{
  text-align: left;
  padding: 0 0 15px 25px;
}

.wp{
  display: block;
  text-align: left;
}
.contact{
  font-size: 16px;
}

.wpContact{
  padding: 0 0 15px 50px;
}



/*Financial Support Page*/
h2{
  display: flex;
  justify-content: center;
  margin: auto;
}

.body{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 13px;
}

p{
  font-size: 13px;
  padding: 0 0 15px 25px;
}

  
h4{
  font-size: 20px;
}

.fp{
  list-style: none;
}

}

.flash-messages{
  margin: auto;
}

/*Alert stylings, including different styles for success and failure*/
.alert {
  position: fixed;
  bottom: 0;
  width: 50%;
  padding: 0.5%;
  text-align: center;
  margin: 1%;
  margin-left: 24%;
  color: black;
}

.alert.alert-success {
  background-color: lavender;
  border-color: grey;
  border-width: 2px;
  border-style: outset;
}

.alert.alert-danger {
  background-color: burlywood;
  border-color: grey;
  border-width: 2px;
  border-style: outset;
}

.alert-close {
  position: absolute;
  top: 0;
  right: 0;
  width: 15px;
  height: 15px;
  margin: 0.5%;
  border-color: darkgrey;
  background-color: grey;
}
