*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins' , sans-serif;
    box-sizing: border-box;

}

#accordion li{
    list-style: none;
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    border-radius:4px;
    background-color: #fcfcfc;

}

#accordion li label{
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    color: #000000;
    background-color: #f0eff1;

}

#accordion li label span{
    transform: rotate(90deg);
    font-size: 22px;
    color: #5125ad;
}

#accordion label  + input[type="radio"]{
    display: none;
}

#accordion .content{
    padding: 0 10px;
    line-height: 26px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s;
}


#accordion label  + input[type="radio"]:checked + .content{
    max-height: 400px;
}

h1{
   margin-bottom: 1%; 
   display: flex;
  justify-content: center;
}

ul{
    padding-left: 0%;
}

h4{
  display: flex;
  justify-content: center;
}


