%html
  %head
    %title My Basic Home Page
  %body
    %header
      %h1 My Basic Home Page
    %nav
      %ul
        %li
          %a{:href => "#"} Home
        %li
          %a{:href => "#"} Electives
        %li
          %a{:href => "#"} Search
        %li
          %a{:href => "#"} Finances
        %li
          %a{:href => "#"} FAQ
    %section
      %h2 Introduction
      %p some paragraph
