%div.topbox
  %h1
    Medical Electives
  %p.description
    Go on a once-in-a-lifetime medical elective abroad with Work the World and you’ll get career-boosting clinical experience in an overseas hospital. Then in your free time, you’ll have life-changing travel experiences with new friends.
    <br> You are in total control — you tell us what you want to experience and we'll tailor your overseas elective to your specific interests. You choose everything from the destination right down to the individual departments you want to get experience in.
    <br> You’ll find your medical elective to be life-changing. And that’s true whether you’re undertaking an elective for medical students or graduates.
%hr.first
%div.reasons
  %h2
    Why do an elective?
  %div.reason-tables
    %table.left
      %tr
        %td
          %img{alt: "checkmark", src:"grey_checkmark1.png", width:"30" }
        %td Stand out to employers
      %tr
        %td
          %img{alt: "checkmark", src:"grey_checkmark1.png", width:"30" }
        %td Strengthen your academic profile
      %tr
        %td
          %img{alt: "checkmark", src:"grey_checkmark1.png", width:"30" }
        %td Build a network
    %table.right
      %tr
        %td
          %img{alt: "checkmark", src:"grey_checkmark1.png", width:"30" }
        %td Boost confidence
      %tr
        %td
          %img{alt: "checkmark", src:"grey_checkmark1.png", width:"30" }
        %td Gain insights
      %tr
        %td
          %img{alt: "checkmark", src:"grey_checkmark1.png", width:"30" }
        %td Get inspiration on your specialty

%hr.second
%div.how-works
  %h2
    How Does It Work?
  %div.steps-tables
    %table
      %tr.numbers
        %td 01
        %td 02
        %td 03
      %tr.names
        %td Join
        %td Find
        %td Apply
      %tr.description
        %td sign up with your university account
        %td browse a list of many options to find what best suits you
        %td all the information you need to make an application

