%h2
  Widening Participation Student Support

%p
  -# :textile
  
  *We encourage applications from Home students who are members of underrepresented groups and from people who have the potential to be excellent doctors who would not ordinarily choose this career path seriously.*

%p 
  We have established entrance points for home students from Widening Participation backgrounds who are enrolled in certain programmes at the Universities of Bradford and Sheffield Hallam in addition to these three broadening participation programmes.

%h3
%button
  Click to see our selection

%table
  %thead
    %tr
      %th
        Item
      %th
        Description
 
